h1,h2,h3,h4,blockquote,pre{
  color: $red;
  text-transform: uppercase;
}
.not-caps{
  text-transform: none !important;
}
h1 {
  font-family: 'Alfa Slab One', cursive !important;
  font-size: 30px !important;
  font-style: normal !important;
  font-variant: normal !important;
  margin: 0 auto;
}
h2 {
  font-family: 'Alfa Slab One', cursive !important;
  font-size: 22px !important;
  font-style: normal !important;
  font-variant: normal !important;
  color: black !important;
}
h3 {
  font-family: 'Alfa Slab One', cursive !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-variant: normal !important;
}
p {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: 400 !important;
  color: black;
}
blockquote {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 21px !important;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: 400 !important;
}
pre {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 13px !important;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: 400 !important;
}
