h1,h2,h3,h4,blockquote,pre{
  color: $red;
  text-transform: uppercase;
}
.not-caps{
  text-transform: none;
}
h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  margin: 0 auto;
}
h2 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  color: black;
}
h3 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  color: black;
}
blockquote {
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}
pre {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}
