body{
  background-color: black;
  word-wrap: break-word;
}
.full-w{
  width: 100%;
}
.grey-shadow{
  text-shadow: 1px 1px 0px $light-grey;
}
// Vote

.vote{
  background-color: $yellow !important;
  max-height: 80px;
  h1{
    color: black !important;
    font-size: 50px !important;
    margin: 3px auto 0 auto !important;
  }
  &::after{
    content: ' ';
    position: relative;
    width: 0;
    height: 0;
    left: -15px;
    top: -9px;
    border: 15px solid;
    border-color: $yellow transparent transparent $yellow;
    z-index: 9999;
  }
}
// Header

#header .container{
  background-color: #fff;
}
#header h1{
  margin: 30px auto 10px auto;
}
#header h2{
  margin: 10px auto !important;
}
