// contest tweaks
#contest-wrapper .ss-form input {
  width: 100%;
}
// Global
#body-wrap{
  position: absolute !important;
  width: 100%;
}
body,html{
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  width: 100% !important;
}
body{
  background-image: url(https://s3.amazonaws.com/myfangate.com/fearlessapmas/repeatinggrunge.jpg);
  background-repeat: repeat;
  word-wrap: break-word;
}
.full-w{
  width: 100%;
}
.grey-shadow{
  text-shadow: 1px 1px 0px $light-grey;
}
.dark-grey-shadow{
  text-shadow: 1px 1px 0px $dark-grey;
}
.black-and-white{
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
filter: gray;
filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
.divider{
  background-color: $dark-grey;
  width: 100%;
  height: 2px;
}
.red-overlay{
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
  background-image: url(https://s3.amazonaws.com/myfangate.com/fearlessapmas/redgrunge.jpg);
  z-index: 1;
}
.vote-overlay{
  opacity: 0;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  z-index: 2;
  background-color: rgba(238, 27, 36, 0.7);
  h1{
    color: black;
    font-size: 50px;
  }
}

.flag::after, .flag::before{
  content: ' ';
  position: relative;
  width: 1170px;
  height: 50px;
  background-image: url(https://s3.amazonaws.com/myfangate.com/fearlessapmas/paper.jpg);
  background-repeat: repeat;
  left: -15px;
  -ms-transform: skewY(2deg);
  -webkit-transform: skewY(2deg);
  transform: skewY(2deg);
}
.flag::after{
  margin-bottom: 30px;
  top: 29px;
}
.flag::before{
  margin-top: 30px;
  top: -29px;
}
.flag-top::before{
  content: ' ';
  position: relative;
  width: 1170px;
  height: 50px;
  background-image: url(https://s3.amazonaws.com/myfangate.com/fearlessapmas/paper.jpg);
  background-repeat: repeat;
  left: -15px;
  -ms-transform: skewY(2deg);
  -webkit-transform: skewY(2deg);
  transform: skewY(2deg);
  margin-top: 30px;
  top: -29px;
}
.flag-bottom::after{
  content: ' ';
  position: relative;
  width: 1170px;
  height: 50px;
  background-image: url(https://s3.amazonaws.com/myfangate.com/fearlessapmas/paper.jpg);
  background-repeat: repeat;
  left: -15px;
  -ms-transform: skewY(2deg);
  -webkit-transform: skewY(2deg);
  transform: skewY(2deg);
  top: 29px;
}
// Vote
.navbar-default {
  background-color: transparent !important;
  border-color: transparent !important;
}

.vote{
  background-color: $yellow !important;
  max-height: 80px;
  h1{
    color: black !important;
    font-size: 50px;
    margin: 3px auto 0 auto !important;
  }
  &::after{
    content: ' ';
    position: relative;
    width: 0;
    height: 0;
    left: -15px;
    top: -9px;
    border: 15px solid;
    border-color: $yellow transparent transparent $yellow;
    z-index: 9999;
  }
}

.vote .row a{
  display: block;
  text-decoration: none !important;
}
// Header
nav {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto !important;
  -webkit-box-shadow: 0px 0px 40px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 40px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 40px rgba(0,0,0,0.5);
  border-width: 0 !important;
}


#header .container{
  background-image: url(https://s3.amazonaws.com/myfangate.com/fearlessapmas/paper.jpg);
  background-repeat: repeat;
}
#header h1{
  margin: 100px auto 10px auto;
}
#header h2{
  margin: 10px auto !important;
}

// Nominees
.nominee{
  -ms-transform: skewY(2deg);
  -webkit-transform: skewY(2deg);
  transform: skewY(2deg);
}
.fans span{
  display: block;
}
#nominees .main{
  background-image: url(https://s3.amazonaws.com/myfangate.com/fearlessapmas/paper.jpg);
  background-repeat: repeat;
}

.artist-image{
  padding: 0 !important;
  overflow: hidden;
}

.white-square-l{
  position: absolute;
  background-image: url('https://s3.amazonaws.com/myfangate.com/fearlessapmas/white-square-l.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.white-square-r{
  position: absolute;
  background-image: url('https://s3.amazonaws.com/myfangate.com/fearlessapmas/white-square-r.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

@media (min-width: 1200px){
  .award{
    margin-top: 20%;
  }
  .header{
    font-size: 70px;
  }
  .sub-head{
    font-size: 30px;
  }
  .nominee{
    font-size: 40px;
    margin: 20px auto;
  }
  .ticket{
    margin: 20px auto;
  }
  .enter-here{
    margin-top: 80px;
  }
}
@media (max-width: 1200px){
  .header{
    font-size: 50px;
  }
  .award{
    margin-top: 15%;
  }
  .flag-top::before,
  .flag-bottom::after,
  .flag::before,
  .flag::after{
    width: 970px;
  }
}
@media (max-width: 992px){
  .award{
    margin-top: 15px;
  }
  .flag-top::before,
  .flag-bottom::after,
  .flag::before,
  .flag::after{
    width: 750px;
  }
}
@media (max-width: 765px){
  body{
    overflow-x: hidden;
  }
}
@media (max-width: 630px){
  .header{
    font-size: 40px;
  }
}
@media (max-width: 505px){
  .header{
    font-size: 30px;
  }
}
@media (max-width: 480px){
  .header{
    font-size: 30px;
  }
  .nominee span{
    display: block;
  }
  span.breaker{
    .not-caps{
      display: inline !important;
    }
    display: inline !important;
  }
}
@media(max-width: 320px){
  .header{
    font-size: 24px;
  }
  .vote-text{
    font-size: 40px !important;
  }
}
// Contest

.contest .container{
  background-image: url(https://s3.amazonaws.com/myfangate.com/fearlessapmas/paper.jpg);
  background-repeat: repeat;
}
.enter-here{
  color: black !important;
  font-size: 40px !important;
}
// community
.join{
  margin-bottom: 50px;
}
// footer

.footer{
  background-image: url(https://s3.amazonaws.com/myfangate.com/fearlessapmas/paper.jpg);
  background-repeat: repeat;
  margin-top: 100px;
}

.breathing1 {
    -webkit-animation: breathing 30s ease-out infinite normal;
    animation: breathing 30s ease-out infinite normal;
    -webkit-font-smoothing: antialiased;
    }


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  75% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  75% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.breathing2 {
    -webkit-animation: breathing 30s ease-out infinite normal;
    animation: breathingb 30s ease-out infinite normal;
    -webkit-font-smoothing: antialiased;
    }


@-webkit-keyframes breathingb {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes breathingb {
  0% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  25% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}


// Contest Custom

#contest-wrapper .contest-btn{
  font-family: 'Alfa Slab One', cursive !important;
  padding: 10px 10px !important;
  background-color: $red !important;
  border-radius: 0px !important;
  border: solid 1px #CF0000 !important;
}
