body{
  background-color: black;
  word-wrap: break-word;
}
.full-w{
  width: 100%;
}
.grey-shadow{
  text-shadow: 1px 1px 0px $light-grey;
}
.dark-grey-shadow{
  text-shadow: 1px 1px 0px $dark-grey;
}
.black-and-white{
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
filter: gray;
filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
.divider{
  background-color: $dark-grey;
  width: 100%;
  height: 2px;
}
.red-overlay{
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.35;
  background-color: $red;
  z-index: 1;
}
// Vote

.vote{
  background-color: $yellow !important;
  max-height: 80px;
  h1{
    color: black !important;
    font-size: 50px !important;
    margin: 3px auto 0 auto !important;
  }
  &::after{
    content: ' ';
    position: relative;
    width: 0;
    height: 0;
    left: -15px;
    top: -9px;
    border: 15px solid;
    border-color: $yellow transparent transparent $yellow;
    z-index: 9999;
  }
}
// Header

#header .container{
  background-color: #fff;
}
#header h1{
  margin: 30px auto 10px auto;
}
#header h2{
  margin: 10px auto !important;
}

// Nominees

#nominees .main{
  background-color: white;
}

.artist-image{
  padding: 0 !important;
  overflow: hidden;
}

.white-square-l{
  position: absolute;
  background-image: url('https://s3.amazonaws.com/myfangate.com/fearlessapmas/white-square-l.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.white-square-r{
  position: absolute;
  background-image: url('https://s3.amazonaws.com/myfangate.com/fearlessapmas/white-square-r.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
