<div class="container flag-top footer">
  <div class="text-center">
    <a href="https://www.facebook.com/fearlessrecords" target="_blank">
      <span class="fa-stack fa-lg">
        <i style="color: #000" class="fa fa-circle fa-stack-2x"></i>
        <i id="facebook" style="color: white;" class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="https://twitter.com/fearlessrecords" target="_blank">
      <span class="fa-stack fa-lg">
        <i style="color: #000" class="fa fa-circle fa-stack-2x"></i>
        <i id="twitter" style="color: white;" class="fa fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="https://instagram.com/fearlessrecords" target="_blank">
      <span class="fa-stack fa-lg">
        <i style="color: #000" class="fa fa-circle fa-stack-2x"></i>
        <i id="youtube" style="color: white;" class="fa fa-instagram fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <img src="https://s3.amazonaws.com/myfangate.com/fearlessapmas/takeaction.jpg" width="150px">
    <img src="https://s3.amazonaws.com/myfangate.com/fearlessapmas/fearlesslogo.jpg" width="50px">
    <img src="https://s3.amazonaws.com/myfangate.com/fearlessapmas/rzorandtie.jpg" width="150px">
    <img src="https://s3.amazonaws.com/myfangate.com/fearlessapmas/dw.jpg" width="50px">
    <img src="https://s3.amazonaws.com/myfangate.com/fearlessapmas/monster.jpg" width="100px">
  </div>
  <br>
</div>

