
<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Type">

<!-- Place this data between the <head> tags of your website -->
<title>#FEARLESSatAPMAS</title>
<meta name="description" content="Vote for the Fearless Family at this year’s APMA's and win tickets to the event!" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="#FEARLESSatAPMAS | WIN TICKETS">
<meta itemprop="description" content="Vote for the Fearless Family at this year’s APMA's and win tickets to the event!">
<meta itemprop="image" content="https://s3.amazonaws.com/myfangate.com/fearlessapmas/apmashare.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@fearlessrecords">
<meta name="twitter:title" content="#FEARLESSatAPMAS | WIN TICKETS">
<meta name="twitter:description" content="Vote for the Fearless Family at this year’s APMA's and win tickets to the event!">
<meta name="twitter:creator" content="@fearlessrecords">
<meta name="twitter:image" content="https://s3.amazonaws.com/myfangate.com/fearlessapmas/apmashare.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="#FEARLESSatAPMAS | WIN TICKETS" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://fngt.it/Fearlessatapmas/f" />
<meta property="og:image" content="https://s3.amazonaws.com/myfangate.com/fearlessapmas/apmashare.jpg" />
<meta property="og:description" content="Vote for the Fearless Family at this year’s APMA's and win tickets to the event!" />
<meta property="og:site_name" content="#FEARLESSatAPMAS" />
