<br>
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 text-center">
      <h1 class="headline join">JOIN THE #FINDYOURSELF COMMUNITY</h1>
      <div class="divider"></div>
    </div>
    <br>
    <div class="col-lg-10 col-lg-offset-1">
      <div id="social-stream"></div>
    </div>
  </div>
</div>
