<br>
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="headline dark-grey-shadow nominee join">JOIN THE <span class="breaker">#FEARLESS<span class="not-caps">at</span>APMAS</span> COMMUNITY</h1>
    </div>
  </div>
  <div class="row">
    <div id="social-wrap" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-11 col-sm-offset-1 col-xs-8 col-xs-offset-2">
      <div id="social-stream"></div>
    </div>
  </div>
</div>
