<!--== Header Section  ==-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container vote">
    <div class="row text-center">
      <a href="http://www.altpress.com/static/apmasvote.html" target="_blank">
        <h1 class="grey-shadow">VOTE NOW!</h1>
        <p><b>Click / Press Here</b></p>
      </a>
    </div>
  </div>
</nav>
<section id="header">
  <div class="container flag-bottom">
    <div class="row">
      <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 text-center">
        <h1 class="header grey-shadow">#Fearless<span class="not-caps">at</span>APMAS</h1>
      </div>
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
        <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/fearlessapmas/apmas_2015_logo.jpg">
      </div>
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12 text-center">
        <h2 class="sub-head not-caps grey-shadow">Vote for the Fearless Family at this year’s APMA's and win tickets to  the event!</h2>
      </div>
    </div>
  </div>
  <br>
</section>
<!--== End Header Section  ==-->




